body {
  background-color: #ebecec;
  font-family: 'Libre Franklin', sans-serif;
}

form {
  background-color: white;
  position: relative;
  top: 60px;
  left: 33%;
  width: 31%;
  border: 1px solid grey;
}

h1 {
  margin-left: 30px;
}

.tagline {
  margin-left: 30px;
}

.learn-more {
  position: relative;
  left: 170px;
}

input {
  margin-left: 30px;
  height: 20px;
  width: 80%;
}

label {
  margin-left: 30px;
}

button {
  margin-left: 30px;
  height: 30px;
  width: 82%;
}

i {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 13px;
}

.captcha-container {
  height: 50px;
  background-color: #ebecec;
}

.captcha {
  padding-top: 15px;
  /* background-color: #ebecec; */
}

footer {
  position: relative;
  left: 40%;
  top: 120px; 
  width: 80%;
}

li {
  display: inline
}
