body {
  background-color: #ebecec;
  font-family: 'Libre Franklin', sans-serif;
}

img {
  position: relative;
  left: 595px;
  top: 50px;
  width: 200px;
}

form {
  background-color: white;
  position: relative;
  top: 60px;
  left: 33%;
  width: 31%;
  border: 1px solid grey;
}

h1 {
  margin-left: 30px;
}

.tagline {
  margin-left: 30px;
}

a {
  text-decoration: none;
  font-size: 12px; 
}

.learn-more {
  position: relative;
  left: 170px;
}

input {
  margin-left: 30px;
  height: 20px;
  width: 80%;
}

label {
  margin-left: 30px;
}

button {
  margin-left: 30px;
  height: 30px;
  width: 82%;
}

i {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 13px;
}

.captcha-container {
  height: 50px;
  background-color: #ebecec;
}

.captcha {
  padding-top: 15px;
  /* background-color: #ebecec; */
}

footer {
  position: relative;
  left: 38%;
  margin-top: 90px; 
  width: 80%;
}

li {
  display: inline;
  margin-left: 10px; 
  font-size: 15px;
}

.list{
  font-size: 15px;
}

p {
  /* display: inline; */
  position: relative;
  right: 210px; 
  text-align: center;
  width: 60%;
  font-size: 12px;
}